<div class="row">
  <div class="col-md-6">
    <h3>Monday, 6 December 2021</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop Survey</a> and Setup </td> </tr>
      <tr> <td>09:15</td>  <td><a href="https://datacarpentry.org/spreadsheet-ecology-lesson/">Data Organization in Spreadsheets</a></td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://datacarpentry.org/OpenRefine-ecology-lesson/">OpenRefine for Data Cleaning</a></td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:30</td>  <td><a href="https://datacarpentry.org/R-ecology-lesson/">Introduction to R</a></td> </tr>
      <tr> <td>15:00</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:30</td>  <td><a href="https://datacarpentry.org/R-ecology-lesson/">Introduction to R</a> (Continued)</td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Tuesday, 7 December 2021</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://datacarpentry.org/R-ecology-lesson/">Continuation of R: Data analysis and Visualization</a></td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://datacarpentry.org/R-ecology-lesson/">Continuation of R: Data analysis and Visualization</a> (Continued)</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:30</td>  <td><a href="https://datacarpentry.org/sql-ecology-lesson/">Data Management with SQL</a></td> </tr>
      <tr> <td>15:00</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:30</td>  <td><a href="https://datacarpentry.org/sql-ecology-lesson/">Data Management with SQL</a> (Continued)</td> </tr>
      <tr> <td>16:15</td>  <td><a href="https://www.archer2.ac.uk/training/feedback/?course=230606-data-carpentry">ARCHER2 course feedback</a> and <a href="{{ site.post_survey }}{{ site.github.project_title }}">Post-workshop Survey</a></td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>